<%- include('../partials/header'); %>
<div class="flex flex-row align-center">
  <%- include('../partials/sidebar'); %>

      <form id="user-change-details-form" class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col w-full mt-10 md:mt-0" method="POST" action="/user/profile/edit?_method=PUT">

        <h2 class="text-gray-900 text-lg font-medium title-font mb-5">User Details</h2>

        <div class="relative mb-4">
          <label for="fullName" class="leading-7 text-sm text-gray-600">Full Name</label>
          <input type="text" id="fullName" name="fullName" class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          <% if(errorObject.fullName) { %>
            <p class="text-xs text-red-600 -mb-5">
              <%= errorObject.fullName %>
            </p>
          <% } %>
          
        </div>

        <div class="relative mb-4">
          <label for="preferredName" class="leading-7 text-sm text-gray-600">Preferred Name</label>
          <input type="text" id="preferredName" name="preferredName" class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          <% if(errorObject.preferredName) { %>
            <p class="text-xs text-red-600 -mb-5">
              <%= errorObject.preferredName %>
            </p>
          <% } %>
          
        </div>

        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
          <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          <% if(errorObject.email) { %>
            <p class="text-xs text-red-600 -mb-5">
              <%= errorObject.email %>
            </p>
          <% } %>
        </div>

        <button class="text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">Update Details</button>
      </form>

      <form id="user-change-password-form" class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col w-full mt-10 md:mt-0" method="POST" action="/user/profile/changepassword?_method=PUT">

        <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Password</h2>
  
        <div class="relative mb-4">
          <label for="currentPassword" class="leading-7 text-sm text-gray-600">Current Password</label>
          <input type="password" id="currentPassword" name="currentPassword" class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          <% if(errorObject.currentPassword) { %>
            <p class="text-xs text-red-600 -mb-5">
              <%= errorObject.currentPassword %>
            </p>
          <% } %>
        </div>
          <div class="flex-1">
            <label for="newPassword" class="leading-7 text-sm text-gray-600">New Password</label>
            <input type="password" id="newPassword" name="newPassword" class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <% if(errorObject.newPassword) { %>
              <p class="text-xs text-red-600 -mb-3">
                <%= errorObject.newPassword %>
              </p>
            <% } %>
          </div>
  
          <div class="flex-1">
            <label for="confirmNewPassword" class="leading-7 text-sm text-gray-600">Confirm New Password</label>
            <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <% if(errorObject.confirmNewPassword) { %>
              <p class="text-xs text-red-600">
                <%= errorObject.confirmNewPassword %>
              </p>
            <% } %>
          </div>
  
        <button class="text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">Change Password</button>
      </form>
</div>

<script>
  document.getElementById("fullName").value = "<%= user.fullName %>";
  document.getElementById("preferredName").value = "<%= user.preferredName %>";
  document.getElementById("email").value = "<%= user.email %>"
</script>


<%- include('../partials/footer'); %>