<%- include('../partials/header'); %>
<div class="flex flex-col justify-center mx-auto sm:w-2/3">
  <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4 text-center">Edit Review: <%= listing.name %></h2>
  <div class="sm:pl-8 sm:py-8 mx-4 my-4 pt-4 sm:mt-0 text-center sm:text-left">
    <!-- <p class="leading-relaxed text-lg mb-4">Meggings portland fingerstache lyft, post-ir</p>
    <a class="text-red-500 inline-flex items-center">Learn More
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a> -->
    <form id="review-form" method="POST" action="/food/<%= listingID %>/review/<%= reviewID %>/edit?_method=PUT">
      <div class="mb-5 w-full bg-gray-50 rounded-lg border border-gray-200 text-center">
          <div class="py-2 px-4 bg-white rounded-t-lg">
              <label for="content" class="sr-only">Your review</label>
              <textarea type="text" id="edit-content" name="content" rows="4" class="px-0 w-full text-sm text-gray-900 bg-white border-0 focus:ring-0 " placeholder="Leave your review of your experience..." required=""></textarea>
          </div>
          <div class="my-3 text-left">
            <% if(errorObject.content) { %>
              <p class="text-xs text-red-600">
                <%= errorObject.content %>
              </p>
            <% } %>
            <% if(errorObject.rating) { %>
              <p class="text-xs text-red-600">
                <%= errorObject.rating %>
              </p>
            <% } %>
          </div>
          <div class="flex justify-between items-center py-2 px-3 border-t">
              <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-red-500 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-200">
                  Save edit
              </button>
              <select type="number" id="edit-rating" name="rating" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-2/5 p-2.5" required="">
                  <option selected>Select Rating</option>
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
              </select>

              <button class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center border border-gray-500 text-black bg-grey-100 rounded-lg hover:bg-grey-900 focus:ring-4 focus:ring-grey-200" type="button" data-modal-toggle="popup-modal">
                Delete
              </button>

              <div class="flex pl-0 space-x-1 sm:pl-2">
                  <button type="button" class="inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd"></path></svg>
                      <span class="sr-only">Upload image</span>
                  </button>
              </div>
          </div>
      </div>
    </form>
  </div>
</div>

<div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full">
  <div class="relative p-4 w-full max-w-md h-full md:h-auto">
      <div class="relative bg-white rounded-lg shadow">
          <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="popup-modal">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              <span class="sr-only">Close modal</span>
          </button>
          <div class="p-6 text-center">
              <svg aria-hidden="true" class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
              <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete your review? <br> <%= reviewID %></h3>
              <form method="POST" action="/food/<%= listingID %>/review/<%= reviewID %>?_method=DELETE">
                  <button type="submit" class="text-white bg-red-500 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                      Yes, I'm sure
                  </button>
              </form>
              <button data-modal-toggle="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">No, cancel</button>
          </div>
      </div>
  </div>
</div>

<script>
  document.getElementById("edit-content").value = "<%= review.content %>";
  document.getElementById("edit-rating").value = "<%= review.rating %>";
</script>

<%- include('../partials/footer'); %>