<%- include('../partials/header'); %>
<div class="flex flex-col justify-center mx-auto sm:w-2/3">
  <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4 text-center">Edit Review: <%= listing.name %></h2>
  <div class="sm:pl-8 sm:py-8 mx-4 my-4 pt-4 sm:mt-0 text-center sm:text-left">
    <!-- <p class="leading-relaxed text-lg mb-4">Meggings portland fingerstache lyft, post-ir</p>
    <a class="text-red-500 inline-flex items-center">Learn More
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a> -->
    <form id="review-form" method="POST" action="/food/<%= listingID %>/review">
      <div class="mb-5 w-full bg-gray-50 rounded-lg border border-gray-200 text-center">
          <div class="py-2 px-4 bg-white rounded-t-lg">
              <label for="content" class="sr-only">Your review</label>
              <textarea type="text" id="edit-content" name="content" rows="4" class="px-0 w-full text-sm text-gray-900 bg-white border-0 focus:ring-0 " placeholder="Leave your review of your experience..." required=""></textarea>
          </div>
          <div class="flex justify-between items-center py-2 px-3 border-t">
              <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-red-500 rounded-lg focus:ring-4 focus:ring-red-200">
                  Edit
              </button>
              <select type="number" id="edit-rating" name="rating" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-2/5 p-2.5" required="">
                  <option selected>Select Rating</option>
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
              </select>
              <% if(errorObject.rating) { %>
                <p class="text-xs text-red-600 -mb-5">
                  <%= errorObject.rating %>
                </p>
              <% } %>
              <div class="flex pl-0 space-x-1 sm:pl-2">
                  <button type="button" class="inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd"></path></svg>
                      <span class="sr-only">Upload image</span>
                  </button>
              </div>
          </div>
      </div>
    </form>
  </div>
</div>

<script>
  document.getElementById("edit-content").value = "<%= review.content %>";
  document.getElementById("edit-rating").value = "<%= review.rating %>";
</script>

<%- include('../partials/footer'); %>