<%- include('../partials/header'); %>

<div class="flex flex-wrap justify-center mt-5">
<% foodListings.forEach(l => { %>
  <% const yelpStarPercentage = `${(l.rating/ 5) * 100}%`; %> 
  <div id="food-image" class="mx-3 my-3 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <a href="/food/<%= l.id %>">
        <img class="rounded-t-lg" src="<%= l.image_url %>" alt="" style ="height: 280px" object-fit: cover/>
    </a>
    <div class="p-5">
        <a href="/food/<%= l.id %> ">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"><%= l.name  %></h5>
        </a>

        <div class="flex items-center mt-2.5 mb-5">
          <div class="stars-outer">
            <div class="stars-inner" style="width:"></div>
          </div>
          <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">IKEMEN</span>
      </div>

      <div class="flex items-center mt-2.5 mb-5">
        <div class="stars-outer">
          <div class="stars-inner" style="width:<%= yelpStarPercentage %>"></div>
        </div>
        <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">YELP</span>
    </div>

        <a href="/food/<%= l.id %>" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
  </div>

  <!-- <div class="flex max-w-md mx-auto overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800">
    <div class="w-1/3 bg-cover" style="background-image: url('<%= l.image_url %>')"></div>

    <div class="w-2/3 p-4 md:p-4">
        <h1 class="text-2xl font-bold text-gray-800 dark:text-white"><%= l.name %></h1>

        <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit In odit</p>

        <div class="flex items-center mt-2.5 mb-5">
          <div class="stars-outer">
            <div class="stars-inner" style="width:"></div>
          </div>
          <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">Ikemen</span>
      </div>

        <div class="flex items-center mt-2.5 mb-5">
          <div class="stars-outer">
            <div class="stars-inner" style="width:<%= yelpStarPercentage %>"></div>
          </div>
          <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">Yelp</span>
      </div>

        <div class="flex justify-between mt-3 item-center">
            <% if (l.price == null) { %>
              <h1 class="text-lg font-bold text-gray-700 dark:text-gray-200 md:text-xl">Price: Unlisted</h1>
            <% } else { %>
              <h1 class="text-lg font-bold text-gray-700 dark:text-gray-200 md:text-xl">Price: <%= l.price %> </h1>
            <% } %>
            <button class="px-2 py-1 text-xs font-bold text-white uppercase transition-colors duration-200 transform bg-gray-800 rounded dark:bg-gray-700 hover:bg-gray-700 dark:hover:bg-gray-600 focus:outline-none focus:bg-gray-700 dark:focus:bg-gray-600">READ MORE</button>
        </div>
    </div>
</div> -->
  <% }) %>
</div>



<%- include('../partials/footer'); %>